.checkout_container {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: auto;
  padding: 50px;
  background-color: rgb(189, 184, 184);
}

.form_container {
  width: 600px;
  margin-left: 90px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.total_price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
}

.place_orderBtn {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.place_orderBtn:hover {
  background-color: #218838;
}

.order_container {
  width: 350px;
  padding: 30px;
  background-color: white;
}

.formSection {
  border: 1px solid #ccc;
  padding: 40px;
}

.sectionTitle {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(43, 41, 41);
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.deliveryOption {
  border: 1px solid #ccc;
  padding: 20px;
}

.optionTitle {
  margin-top: 0;
}

.optionTime {
  margin-bottom: 0;
}

.order_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.order_box {
  padding: 10px;
  width: 300px;
  margin-top: 4px;
}

@media (max-width: 1024px) {
  .checkout_container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .form_container {
    width: 100%;
    margin-left: 0;
  }

  .order_container {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
  }

  .order_box {
    width: 100%;
  }

  .place_orderBtn {
    font-size: 14px;
    padding: 8px;
  }

  .orderSummary{
    padding: 20px;
  }
}
